.uk-card-small ,.uk-card-body {
     padding: 5px 8px;
     font-size: 14px;
 }


.uk-border-remove {
    border: 0 none;
}

textarea {
    background: none !important;
    resize: none;

}


.uk-card {
    position: relative;
    z-index: 1;
}

.guest .uk-card:after, .me .uk-card:after {
    width: 10px;
    height: 45px;
    position: absolute;
    bottom: 0;
}
.guest .uk-card:after {
    background: #fff;
    left: -4px;
    clip-path: polygon(100% 70%, 0% 100%, 100% 100%);
}
.me .uk-card:after {
    background: #1e87f0;
    right: -4px;
    clip-path: polygon(0 70%, 0% 100%, 100% 100%);
}

.messageBox{

    max-width:320px;
}


.queryBox {

    height: 70px;
    position: fixed;
    padding-top:0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom:0px;
    width: inherit;
    margin-top:10px;
    margin-bottom: 10px;
    bottom:0px;
    z-index: 10;
    background: #ffffff;
}



.send{
    padding: 15px 25px;
}

@keyframes dot-anim {
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -6px);
    }
    0% {
        transform: translate(0, 0);
    }
}
.typing i {
    width: 6px;
    height: 6px;
    background: #aaa;
    border-radius: 100%;
    display: inline-block;
    animation: dot-anim 1s infinite linear;
    transform: translate(0, 0);
}

.typing {
    display: block;
    position: relative;
}
.typing i + i {
    margin-left: 3px;
}
.typing i:nth-child(1) {
    animation-delay: 0.5s;
}
.typing i:nth-child(2) {
    animation-delay: 0.4s;
}
.typing i:nth-child(3) {
    animation-delay: 0.3s;
}


.home-bk{
    background: -moz-linear-gradient(45deg, rgba(192,192,192,0.15) 0%, rgba(192,192,192,0.15) 0%, rgba(99,99,99,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(192,192,192,0.15)), color-stop(0%, rgba(192,192,192,0.15)), color-stop(100%, rgba(99,99,99,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(192,192,192,0.15) 0%, rgba(192,192,192,0.15) 0%, rgba(99,99,99,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(192,192,192,0.15) 0%, rgba(192,192,192,0.15) 0%, rgba(99,99,99,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(192,192,192,0.15) 0%, rgba(192,192,192,0.15) 0%, rgba(99,99,99,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(192,192,192,0.15) 0%, rgba(192,192,192,0.15) 0%, rgba(99,99,99,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#c0c0c0',GradientType=1 ); /* ie6-9 */
}

.chatboxHeader{
    background-color:#aa00ff;
    padding-left: 12px;
    padding-right: 20px;
}

.chatboxContainer{
    overflow-y:scroll;
    height:auto;
    max-height: 520px;
    border:none;
}